<nav class="nav container">
    <a class="nav-link px-4" routerLink="/home" routerLinkActive="active">Home</a>
    <a class="nav-link px-4" routerLink="/member" routerLinkActive="active">Members</a>
    <a class="nav-link px-4" routerLink="/audit" routerLinkActive="active">Audit Log</a>
    <a class="nav-link px-4" routerLink="/billing" routerLinkActive="active">Billing</a>
    <a class="nav-link px-4" routerLink="/configuration" routerLinkActive="active">Configurations</a>
    <a class="nav-link px-4" routerLink="/notification" routerLinkActive="active">Notifications</a>
</nav>