<app-nav></app-nav>
<div class="bgclr">
  <div class="row head p-0">
    <div class="col-sm-9 p-sm-0 p-3">
      <h1>Welcome, Eren</h1>
      <span class="c">Good to see you boss!</span>
    </div>
    <div class="fr col-sm-3 p-sm-0 p-3">
      <button
        type="button"
        class="btn btn-success float-right"
        data-toggle="modal"
        data-target="#exampleModal"
        (click)="add()"
      >
        + Create Eden
      </button>
    </div>
  </div>

  <div
    [ngClass]="['modal', 'fade']"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            <span> {{ manageEdit ? "Edit" : "Add" }}</span> User
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            tabindex="-1"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="homeForm" class="d-flex flex-column bg-light">
            <mat-form-field>
              <mat-label for="Name">Name:</mat-label>
              <input
                matInput
                type="text"
                id="Name"
                [formControl]="Name"
                [ngStyle]="dupNameField"
              />
              <mat-error *ngIf="Name.invalid"> Name is required. </mat-error>
              <mat-error *ngIf="dupName">
                Name is already taken.
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label for="Group">Group:</mat-label>
              <mat-select
                [formControl]="Group"
                id="Group"
              >
                <mat-option value="Designers">Designers</mat-option>
                <mat-option value="Development">Development</mat-option>
                <mat-option value="Management">Management</mat-option>
                <mat-option value="Social Media">Social Media</mat-option>
              </mat-select>
              <mat-error *ngIf="check('Group')"> Group is required. </mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label for="Status">Status:</mat-label>
              <mat-select
                [formControl]="Status"
                id="Status"
              >
                <mat-option value="In Progress">In progress</mat-option>
                <mat-option value="Completed">Completed</mat-option>
                <mat-option value="Waiting">Waiting</mat-option>
              </mat-select>
              <mat-error *ngIf="check('Status')">
                Status is required.
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Date:</mat-label>
              <input
                matInput
                type="date"
                [matDatepicker]="picker"
                [formControl]="Date"
              />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>

              <mat-error
                *ngIf="homeForm.get('Date')?.hasError('futureDate')"
              >
                Date cannot be in the future.
              </mat-error>
              <mat-error *ngIf="check('Date')"> Date is required. </mat-error>
            </mat-form-field>
          </form>
        </div>

        <div class="modal-footer">
          <button
            #Submit
            [ngClass]="['btn', disablebtnclr]"
            [disabled]="homeForm.invalid || dupName"
            data-toggle="modal"
            [attr.data-target]="'#suredialog'"
          >
            {{ manageEdit ? "Edit" : "Add" }} user
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
            id="closeField"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" tabindex="-1" id="suredialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Are You Sure!</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            tabindex="-1"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-primary"
            (click)="
              [
                manageEdit
                  ? editUser(userId, homeForm.value)
                  : postUserData(homeForm.value)
              ]
            "
            [attr.data-dismiss]="[display]"
          >
            Save changes
          </button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="sdiv mt-3">
    <div class="bgff">
      <div class="row">
        <h4 class="pl-3 col-md-6">Eden's Created This Week</h4>
      </div>

      <div>
        <div class="row bg-sec mt-3">
          <span class="p-2 col-4">Name</span>
          <span class="p-2 col text-center">Group</span>
          <span class="p-2 col text-center">Status</span>
          <span class="p-2 col text-center">Date</span>
          <span class="py-2 px-0 col ls text-center">Action</span>
        </div>

        <div class="m-0 p-0 overscroll">
          <div class="row pt-3" *ngFor="let user of usersData; let i = index">
            <span class="p-2 ml-3 pl-3 col-4"> {{ user.Name }} </span>
            <span class="p-2 col c text-center"> {{ user.Group }} </span>
            <span class="col p-2 text-center">
              <p
                *ngIf="user.Status === 'In Progress'"
                class="badge-y badge badge-pill"
              >
                {{ user.Status }}
              </p>
              <p
                *ngIf="user.Status === 'Completed'"
                class="badge-g badge badge-pill"
              >
                {{ user.Status }}
              </p>
              <p
                *ngIf="user.Status === 'Waiting'"
                class="badge-p badge badge-pill"
              >
                {{ user.Status }}
              </p>
            </span>
            <span class="p-2 col c text-center">
              {{ user.Date | date }}
            </span>
            <div class="col p-2 text-center">
              <button
                type="button"
                class="btn btn-info mr-2"
                data-toggle="modal"
                data-target="#exampleModal"
                (click)="edit(i)"
              >
                Edit
              </button>
              <button
                type="button"
                class="btn btn-danger"
                (click)="delete(user.id)"
              >
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
