

.bgclr {
    background-color: #f8f9fd;
    padding-inline: 5%;
    padding-block: 2%;
}

.overscroll {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 400px;
}

.head {
    background-color: #f8f9fd;
    margin: auto;
}

.fr {
    align-self: center;
}

.btn-success {
    border-radius: 20px;
}

.sdiv {
    background-color: #f8f9fd;
}

.bgff {
    background-color: #fff;
    padding: 20px;
}

.bg-sec {
    background-color: #f8f9fd;
    border-radius: 10px;
    padding-left: 10px;
    margin: 0px;
}

.badge-pill {
    padding: 6px 10px !important;
}

.c {
    color: #8a909a;
    font-weight: 600;
}

.col-4 {
    font-weight: 700;
}

.badge-y {
    background-color: #fcf7eb;
    color: #e8b869;
}

.badge-p {
    background-color: #abb0d4;
    color: #9899cf;
}

.badge-g {
    background-color: #f1f8ef;
    color: #99c6a4;
}

form {
    padding: 30px;
}

.modal-body{
    mix-blend-mode:difference;
}
